* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  padding: 0;
  background-color: black;
}

#main-box{
  color: white;
  width: 800px;
  margin: 0px auto;
  margin-top: 40px;
  padding: 30px;
  padding-bottom: 40px;
  border: 1px dashed white;
}

#live-text {
  text-align: center;
}

#unpause-button {
  display: none;
}

#game-input {
  height: 1px;
  width: 1px;
  position: absolute;
  top: -20px;
}

.untyped-character {
  color: rgb(185, 185, 185);
}

.incorrect-character {
  color: red;
}

.typed-character {
  color: white;
}

.letter-jump {
  animation: jump 0.05s ease-in-out;
  position: relative;
}

@keyframes jump {
  0% {top: 0}
  50% {top:-7px}
  100% {top: 0}
}

#quote-count {
  text-align: center;
  margin-top: 50px;
  visibility: hidden;
}

#progress-bar {
  border: 1px solid white;
  width: 400px;
  height: 20px;
  margin: 0px auto;
  margin-top: 30px;
}

#progress-value {
  background-color: navy;
  width: 0%;

  /* To account for the parent element border */
  height: 18px;
}
